<li class="flexcol item collapsible collapsed"
    data-uuid="{{item.uuid}}"
    data-item-id="{{item.id}}"
    data-entry-id="{{item.id}}"
    data-item-name="{{item.name}}">
    <div class="flexrow align-normal gap-small{{#if draggable }} draggable{{/if }}"
         {{#if draggable }}
         draggable="true"
         {{/if }}
         data-key="{{item.id }}">
        <img class="item-image flex0"
             src="{{item.img}}"
             alt="{{item.name}}"
             width="32"
             height="32"
             draggable="false" />
        <div class="flexcol flex1 gap-min">
            <div class="flexrow gap-small">
                <div class="flex1 item-name">{{item.name}}</div>
                <div class="flex0 item-detail item-controls">
                    {{#if (eq item.type "weapon") }}
                        <button type="button"
                                class="unbutton config-button item-control item-action always-interactive"
                                data-tooltip="KN.Item.Sheet.equipTooltip"
                                data-key="{{item.id}}"
                                data-action="equipWeapon">
                            <i class="fas fa-shield-halved"></i>
                        </button>
                    {{/if}}
                    {{#if (eq item.type "armor") }}
                        <button type="button"
                                class="unbutton config-button item-control item-action always-interactive"
                                data-tooltip="KN.Item.Sheet.equipTooltip"
                                data-key="{{item.id}}"
                                data-action="equipArmor">
                            <i class="fas fa-shield-halved"></i>
                        </button>
                    {{/if}}
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="KN.Item.Sheet.toggleTooltip"
                            data-action="toggleExpand">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="KN.Item.Sheet.editTooltip"
                            data-key="{{item.id}}"
                            data-action="editItem">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button"
                            class="unbutton config-button item-control item-action always-interactive"
                            data-tooltip="KN.Item.Sheet.deleteTooltip"
                            data-key="{{item.id}}"
                            data-action="removeItem">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="item-details">
                <div class="item-detail item-price">{{localize "KN.Item.Sheet.label.cost"}}: {{item.system.cost}}</div>
                {{#if showWeight }}
                    <div class="item-detail item-weight empty">
                        {{localize "KN.Item.Sheet.label.weight"}}: {{ localize (concat "KN.Item.Sheet.weights." item.system.weight) }}
                    </div>
                {{/if}}
                {{#if showQuantity }}
                    <div class="item-detail item-quantity">
                        {{localize "KN.Item.Sheet.label.quantity"}}:
                        {{#if (or (eq item.system.weight "gem") (or (eq item.system.weight "light") (eq item.system.weight "nonEncumbering"))) }}
                            <a class="adjustment-button always-interactive"
                               data-action="decreaseQuantityItem"
                               data-tooltip="KN.Item.Sheet.decreaseTooltip"
                               data-key="{{item.id}}">
                                <i class="fas fa-minus"></i>
                            </a>
                            {{item.system.quantity}}
                            <a class="adjustment-button always-interactive"
                               data-action="increaseQuantityItem"
                               data-tooltip="KN.Item.Sheet.increaseTooltip"
                               data-key="{{item.id}}">
                                <i class="fas fa-plus"></i>
                            </a>
                        {{else}}
                            {{item.system.quantity}}
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="item-description collapsible-content">
        {{#if (eq item.type "weapon") }}
            <div class="item-details">
                {{#if item.system.broken }}
                    <i data-tooltip="KN.Item.Sheet.label.broken" class="fas fa-heart-crack"></i>
                {{/if}}
                <div class="item-detail item-skill">
                    {{localize "KN.Item.Sheet.label.skill"}}: {{localize (concat "KN.Character.Skills." item.system.skill)}}
                </div>
                <div class="item-detail item-speed">{{localize "KN.Item.Sheet.label.speed"}}: {{item.system.speed}}</div>
                <div class="item-detail item-damage">
                    {{localize "KN.Item.Sheet.label.damage"}}: {{localize (concat "KN.Item.Sheet.damages." item.system.damageType)}}
                </div>
                <div class="flexrow gap-min">
                    {{localize "KN.Item.Sheet.label.traits"}}:
                    <div class="weapon-traits">
                        {{#if item.system.traits.defensive }}
                            <span>{{localize "KN.Item.Sheet.traits.defensive"}}</span>
                        {{/if}}
                        {{#if item.system.traits.quick }}
                            <span>{{localize "KN.Item.Sheet.traits.quick"}}</span>
                        {{/if}}
                        {{#if item.system.traits.parrying }}
                            <span>{{localize "KN.Item.Sheet.traits.parrying"}}</span>
                        {{/if}}
                        {{#if item.system.traits.powerful }}
                            <span>{{localize "KN.Item.Sheet.traits.powerful"}}</span>
                        {{/if}}
                        {{#if item.system.traits.simple }}
                            <span>{{localize "KN.Item.Sheet.traits.simple"}}</span>
                        {{/if}}
                        {{#if item.system.traits.twoHanded }}
                            <span>{{localize "KN.Item.Sheet.traits.twoHanded"}}</span>
                        {{/if}}
                        {{#if item.system.traits.versatile }}
                            <span>{{localize "KN.Item.Sheet.traits.versatile"}}</span>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/if}}
        <span class="wrapper">
            <div class="subtitle">{{localize "KN.Item.Sheet.label.description"}}</div>
        {{editor item.system.description engine="prosemirror"}}</span>
        <div class="wrapper">
            <div class="subtitle">{{localize "KN.Item.Sheet.label.notes"}}</div>
            {{editor item.system.notes engine="prosemirror"}}
        </div>
    </div>
</li>
