<header class="sheet-header">
    <div class="header-fields">
        <div class="header-top flexrow gap align-normal">
            <img class="profile-img flex0"
                 alt="armor image"
                 src="{{document.img}}"
                 data-action="editImage"
                 data-edit="img"
                 data-tooltip="{{document.name}}"
                 height="120"
                 width="120" />
            <div class="flex3">
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.name">{{localize "KN.Item.Sheet.name"}}</label>
                    </div>
                    <input name="name"
                           type="text"
                           value="{{document.name}}"
                           class="flex3"
                           autocomplete="off"
                           id="kn.item.name" />
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.cost">{{localize "KN.Item.Sheet.cost"}} (₵)</label>
                    </div>
                    <input name="system.cost"
                           type="number"
                           data-dtype="Number"
                           min="0"
                           step="1"
                           value="{{document.system.cost}}"
                           class="flex3"
                           autocomplete="off"
                           id="kn.item.cost" />
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.weight">{{localize 'KN.Item.Sheet.weight' }}</label>
                    </div>
                    <select name="system.weight" id="kn.item.weight">
                        <option value="heavy"
                                {{#if (eq document.system.weight "heavy") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.weights.heavy' }}
                        </option>
                        <option value="normal"
                                {{#if (eq document.system.weight "normal") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.weights.normal' }}
                        </option>
                    </select>
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.armorType">{{localize 'KN.Item.Sheet.armorType' }}</label>
                    </div>
                    <select name="system.armorType" id="kn.item.armorType">
                        <option value="shield"
                                {{#if (eq document.system.armorType "shield") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.armorTypes.shield' }}
                        </option>
                        <option value="head"
                                {{#if (eq document.system.armorType "head") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.armorTypes.head' }}
                        </option>
                        <option value="torso"
                                {{#if (eq document.system.armorType "torso") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.armorTypes.torso' }}
                        </option>
                        <option value="arms"
                                {{#if (eq document.system.armorType "arms") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.armorTypes.arms' }}
                        </option>
                        <option value="legs"
                                {{#if (eq document.system.armorType "legs") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.armorTypes.legs' }}
                        </option>
                    </select>
                </h5>
            </div>
        </div>
    </div>
</header>
