<div class="dice-roll" data-action="expandRoll">
  <div class="dice-result">
    <div class="dice-formula {{customClass}}">{{resultString}}</div>
    <div class="dice-tooltip">
      <div class="wrapper">
        <section class="tooltip-part">
          <div class="dice">
            <header class="part-header flexrow">
              <span class="part-formula">
                <ul>
                  {{#each messages as |message| }}
                    <li>
                      {{message.name}}: {{message.oldValue}} → {{message.newValue}}
                      {{#if message.description }}
                        <div class="message-description {{message.descriptionCustomClass}}">{{message.description}}</div>
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
              </span>
            </header>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
