<header class="sheet-header">
    <div class="header-fields">
        <div class="header-top flexrow gap align-normal">
            <img class="profile-img flex0"
                 alt="weapon image"
                 src="{{document.img}}"
                 data-action="editImage"
                 data-edit="img"
                 data-tooltip="{{document.name}}"
                 height="120"
                 width="120" />
            <div class="flex3">
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.name">{{localize "KN.Item.Sheet.name"}}</label>
                    </div>
                    <input name="name"
                           type="text"
                           value="{{document.name}}"
                           class="flex3"
                           autocomplete="off"
                           id="kn.item.name" />
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.cost">{{localize "KN.Item.Sheet.cost"}} (₵)</label>
                    </div>
                    <input name="system.cost"
                           type="number"
                           data-dtype="Number"
                           min="0"
                           step="1"
                           value="{{document.system.cost}}"
                           class="flex3"
                           autocomplete="off"
                           id="kn.item.cost" />
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.speed">{{localize "KN.Item.Sheet.speed"}}</label>
                    </div>
                    <input name="system.speed"
                           type="number"
                           data-dtype="Number"
                           step="1"
                           value="{{document.system.speed}}"
                           class="flex3"
                           autocomplete="off"
                           id="kn.item.speed" />
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.skill">{{localize 'KN.Item.Sheet.skill' }}</label>
                    </div>
                    <select name="system.skill" id="kn.item.skill">
                        <option value="bladedWeapons"
                                {{#if (eq document.system.skill "bladedWeapons") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.skills.bladedWeapons' }}
                        </option>
                        <option value="bludgeoningWeapons"
                                {{#if (eq document.system.skill "bludgeoningWeapons") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.skills.bludgeoningWeapons' }}
                        </option>
                        <option value="shaftedWeapons"
                                {{#if (eq document.system.skill "shaftedWeapons") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.skills.shaftedWeapons' }}
                        </option>
                        <option value="unarmedCombat"
                                {{#if (eq document.system.skill "unarmedCombat") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.skills.unarmedCombat' }}
                        </option>
                    </select>
                </h5>
                <h5 class="flexrow">
                    <div class="flex0">
                        <label class="left-label" for="kn.item.damage">{{localize 'KN.Item.Sheet.damage' }}</label>
                    </div>
                    <select name="system.damageType" id="kn.item.damage">
                        <option value="bludgeoning"
                                {{#if (eq document.system.damageType "bludgeoning") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.damages.bludgeoning' }}
                        </option>
                        <option value="piercing"
                                {{#if (eq document.system.damageType "piercing") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.damages.piercing' }}
                        </option>
                        <option value="slashing"
                                {{#if (eq document.system.damageType "slashing") }}
                                selected
                                {{/if }}>{{localize 'KN.Item.Sheet.damages.slashing' }}
                        </option>
                    </select>
                </h5>
            </div>
        </div>
    </div>
</header>
