<div class="tab notes scrollable {{tabs.notes.cssClass}}"
     data-group="primary"
     data-tab="notes">
    <div class="flexcol align-normal">
        <div class="section-title">{{localize 'KN.Monster.Sheet.notes' }}</div>
        <div class="flex2 editor-host">
            {{#if editable }}
                <prose-mirror name="system.notes" button="true" editable="{{editable}}" toggled="false" value="{{document.system.notes}}">
                {{{enrichedNotes}}}
                </prose-mirror>
            {{else}}
                {{{enrichedNotes}}}
            {{/if}}
        </div>
    </div>
</div>
