<div class="tab inventory scrollable {{tabs.inventory.cssClass}}"
     data-group="primary"
     data-tab="inventory">
  <div class="flexcol gap align-normal">
    <div class="flexrow gap align-normal">
      <div class="flexcol gap align-normal">
        <div>
          <div class="section-title">{{localize "KN.Character.Inventory.equippedGear"}}</div>
          <div class="items-section equipped-list">
            <div class="header main-hand draggable"
                 draggable="true"
                 data-key="{{equipment.mainHand.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.mainHand"}}</h3>
              {{#if equipment.mainHand }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.mainHand showSwapButton=equipment.offHand}}
              {{/if}}
            </div>
            <div class="header off-hand draggable"
                 draggable="true"
                 data-key="{{equipment.offHand.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.offHand"}}</h3>
              {{#if equipment.offHand }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.offHand}}
              {{/if}}
            </div>
            <div class="header helmet draggable"
                 draggable="true"
                 data-key="{{equipment.helmet.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.helmet"}}</h3>
              {{#if equipment.helmet }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.helmet}}
              {{/if}}
            </div>
            <div class="header armor draggable"
                 draggable="true"
                 data-key="{{equipment.armor.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.armor"}}</h3>
            </div>
            <div class="header gloves draggable"
                 draggable="true"
                 data-key="{{equipment.gloves.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.gloves"}}</h3>
              {{#if equipment.gloves }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.gloves}}
              {{/if}}
            </div>
            <div class="header boots draggable"
                 draggable="true"
                 data-key="{{equipment.boots.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.boots"}}</h3>
              {{#if equipment.boots }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.boots}}
              {{/if}}
            </div>
            <div class="header amulet draggable"
                 draggable="true"
                 data-key="{{equipment.amulet.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.amulet"}}</h3>
              {{#if equipment.amulet }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.amulet}}
              {{/if}}
            </div>
            <div class="header ring1 draggable"
                 draggable="true"
                 data-key="{{equipment.ring1.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.ring"}}</h3>
              {{#if equipment.ring1 }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.ring1}}
              {{/if}}
            </div>
            <div class="header ring2 draggable"
                 draggable="true"
                 data-key="{{equipment.ring2.id}}">
              <h3 class="equipment-name">{{localize "KN.Character.Inventory.equipped.ring"}}</h3>
              {{#if equipment.ring2 }}
                {{> "systems/ker-nethalas/templates/item/equipment-row.hbs" item=equipment.ring2}}
              {{/if}}
            </div>
          </div>
        </div>
        <div>
          <div class="flexrow gap-small">
            <div class="section-title">{{localize "KN.Character.Inventory.wealth"}}</div>
            <div class="section-title">{{localize "KN.Character.Inventory.supplies"}}</div>
          </div>
        </div>
      </div>
      <div class="flexcol gap align-normal">
        <div>
          <div class="section-title">{{localize "KN.Character.Inventory.beltQuickSlots"}} {{currentBeltCapacity}} / 4</div>
          <div class="items-section belt-list">
            <ol class="item-list unlist">
              {{#each beltList as |item key| }}
                {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=false}}
              {{/each}}
            </ol>
          </div>
        </div>
        <div>
          <div class="section-title">{{localize "KN.Character.Inventory.nonEncumberingItems"}}</div>
          <div class="items-section non-encumbering-items-list">
            <ol class="item-list unlist">
              {{#each nonEncumberingList as |item key| }}
                {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=false showWeight=false showQuantity=true}}
              {{/each}}
            </ol>
          </div>
        </div>
        <div>
          <div class="section-title">{{localize "KN.Character.Inventory.backpack"}} {{currentBackpackCapacity}} / 20</div>
          <div class="items-section backpack-list">
            <ol class="item-list unlist">
              {{#each backpackList as |item key| }}
                {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=true}}
              {{/each}}
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="section-title">{{localize "KN.Character.Inventory.gear"}} {{currentGearCapacity}} / 10</div>
      <div class="items-section gear-list">
        <ol class="item-list unlist">
          {{#each gearList as |item key| }}
            {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=true}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div>
      <div class="section-title">{{localize "KN.Character.Inventory.pouch"}} {{currentPouch1Capacity}} / 5</div>
      <div class="items-section pouch1-list">
        <ol class="item-list unlist">
          {{#each pouch1List as |item key| }}
            {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=true}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div>
      <div class="section-title">{{localize "KN.Character.Inventory.pouch"}} {{currentPouch2Capacity}} / 5</div>
      <div class="items-section pouch2-list">
        <ol class="item-list unlist">
          {{#each pouch2List as |item key| }}
            {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=true}}
          {{/each}}
        </ol>
      </div>
    </div>
    <div>
      <div class="section-title">{{localize "KN.Character.Inventory.pouch"}} {{currentPouch3Capacity}} / 5</div>
      <div class="items-section pouch3-list">
        <ol class="item-list unlist">
          {{#each pouch3List as |item key| }}
            {{> "systems/ker-nethalas/templates/item/item-row.hbs" item=item draggable=true showWeight=true showQuantity=true}}
          {{/each}}
        </ol>
      </div>
    </div>
  </div>
  <div class="all-list">
    {{#each document.items as |item key| }}
      <div class="flexrow gear-item gap-small">
        <div>{{item.id}}</div>
        <div>{{item.name}}</div>
        <div>{{item.system.quantity}}</div>
        <div class="flex0 rollable"
             data-action="removeItem"
             data-key="{{item.id}}">
          <i class="fas fa-trash"></i>
        </div>
      </div>
    {{/each}}
  </div>
</div>
