<div class="tab mechanics scrollable {{tabs.mechanics.cssClass}}"
     data-group="primary"
     data-tab="mechanics">
    <div class="flexcol gap-large">
        <div class="flexrow gap-large">
            <div>
                <div class="section-title">{{localize "KN.Character.Mechanics.tensionDie"}}</div>
                <div class="flexrow gap-small die-mechanics">
                    <select name="system.mechanics.tensionDie" id="kn.item.tensionDie">
                        <option value="8"
                                {{#if (eq document.system.mechanics.tensionDie 8) }}
                                selected
                                {{/if }}>D8
                        </option>
                        <option value="6"
                                {{#if (eq document.system.mechanics.tensionDie 6) }}
                                selected
                                {{/if }}>D6
                        </option>
                        <option value="4"
                                {{#if (eq document.system.mechanics.tensionDie 4) }}
                                selected
                                {{/if }}>D4
                        </option>
                    </select>
                    <i data-tooltip="KN.Character.Mechanics.tooltip.tensionDie"
                       data-action="rollTensionDie"
                       class="fas fa-dice rollable flex0"></i>
                </div>
            </div>
            <div>
                <div class="section-title">
                    {{#if document.system.mechanics.overseerFound }}
                        {{localize "KN.Character.Mechanics.domainExitDie"}}
                    {{else}}
                        {{localize "KN.Character.Mechanics.lairDie"}}
                    {{/if}}
                </div>
                <div class="flexrow gap-small die-mechanics">
                    {{#if document.system.mechanics.overseerFound }}
                        <select name="system.mechanics.domainExitDie" id="kn.item.domainExitDie">
                            <option value="8"
                                    {{#if (eq document.system.mechanics.domainExitDie 8) }}
                                    selected
                                    {{/if }}>D8
                            </option>
                            <option value="6"
                                    {{#if (eq document.system.mechanics.domainExitDie 6) }}
                                    selected
                                    {{/if }}>D6
                            </option>
                            <option value="4"
                                    {{#if (eq document.system.mechanics.domainExitDie 4) }}
                                    selected
                                    {{/if }}>D4
                            </option>
                        </select>
                        <i data-tooltip="KN.Character.Mechanics.tooltip.domainExitDie"
                           data-action="rollLairDomainExitDie"
                           class="fas fa-dice rollable flex0"></i>
                    {{else}}
                        <select name="system.mechanics.lairDie" id="kn.item.lairDie">
                            <option value="10"
                                    {{#if (eq document.system.mechanics.lairDie 10) }}
                                    selected
                                    {{/if }}>D10
                            </option>
                            <option value="8"
                                    {{#if (eq document.system.mechanics.lairDie 8) }}
                                    selected
                                    {{/if }}>D8
                            </option>
                            <option value="6"
                                    {{#if (eq document.system.mechanics.lairDie 6) }}
                                    selected
                                    {{/if }}>D6
                            </option>
                            <option value="4"
                                    {{#if (eq document.system.mechanics.lairDie 4) }}
                                    selected
                                    {{/if }}>D4
                            </option>
                        </select>
                        <i data-tooltip="KN.Character.Mechanics.tooltip.lairExitDie"
                           data-action="rollLairDomainExitDie"
                           class="fas fa-dice rollable flex0"></i>
                    {{/if}}
                    <input type="checkbox"
                           name="system.mechanics.overseerFound"
                           id="system.mechanics.overseerFound"
                           data-action="markOverseerFound"
                           class="flex0"
                           data-tooltip="KN.Character.Mechanics.tooltip.overseerFound"
                           {{checked document.system.mechanics.overseerFound}} />
                </div>
            </div>
        </div>
        <div class="active-growing-darkness-events">
            <div class="section-title">{{localize "KN.Character.Mechanics.activeEvents"}}</div>
            <div class="editor-host">
                {{#if editable }}
                    <prose-mirror name="system.mechanics.activeEvents" button="true" editable="{{editable}}" toggled="false" value="{{document.system.mechanics.activeEvents}}">
                    {{{enrichedMechanicsActiveEvents}}}
                    </prose-mirror>
                {{else}}
                    {{{enrichedMechanicsActiveEvents}}}
                {{/if}}
            </div>
        </div>
        <div class="overseer-influence flexcol gap-min">
            <div class="section-title">{{localize "KN.Character.Mechanics.overseerInfluence"}}</div>
            <div class="flexrow gap-small">
                <label class="flex0" for="system.mechanics.overseer">{{localize "KN.Character.Mechanics.overseer"}}:</label>
                <input type="text"
                       name="system.mechanics.overseer"
                       id="system.mechanics.overseer"
                       class="flex1"
                       value="{{document.system.mechanics.overseer}}" />
            </div>
            <div class="editor-host">
                {{#if editable }}
                    <prose-mirror name="system.mechanics.overseerInfluence" button="true" editable="{{editable}}" toggled="false" value="{{document.system.mechanics.overseerInfluence}}">
                    {{{enrichedMechanicsOverseerInfluence}}}
                    </prose-mirror>
                {{else}}
                    {{{enrichedMechanicsOverseerInfluence}}}
                {{/if}}
            </div>
        </div>
        <div class="notes">
            <div class="section-title">{{localize "KN.Character.Mechanics.notes"}}</div>
            <div class="editor-host">
                {{#if editable }}
                    <prose-mirror name="system.mechanics.notes" button="true" editable="{{editable}}" toggled="false" value="{{document.system.mechanics.notes}}">
                    {{{enrichedMechanicsNotes}}}
                    </prose-mirror>
                {{else}}
                    {{{enrichedMechanicsNotes}}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
