<div class="tab skills scrollable {{tabs.skills.cssClass}}"
     data-group="primary"
     data-tab="skills">
    <div class="flexcol gap">
        <div class="flexrow gap align-normal">
            <div class="flexcol gap">
                <div class="flexrow gap-min">
                    <input type="number"
                           name="system.attributes.health.value"
                           id="system.attributes.health.value"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.health.value}}" />
                    /
                    <input type="number"
                           name="system.attributes.health.max"
                           id="system.attributes.health.max"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.health.max}}" />
                    <div>{{localize "KN.Character.Attributes.health"}}</div>
                </div>
                <div class="flexrow gap-min">
                    <input type="number"
                           name="system.attributes.toughness.value"
                           id="system.attributes.toughness.value"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.toughness.value}}" />
                    /
                    <input type="number"
                           name="system.attributes.toughness.max"
                           id="system.attributes.toughness.max"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.toughness.max}}" />
                    <div>{{localize "KN.Character.Attributes.toughness"}}</div>
                </div>
                <div class="flexrow gap-min">
                    <input type="number"
                           name="system.attributes.aether.value"
                           id="system.attributes.aether.value"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.aether.value}}" />
                    /
                    <input type="number"
                           name="system.attributes.aether.max"
                           id="system.attributes.aether.max"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.aether.max}}" />
                    <div>{{localize "KN.Character.Attributes.aether"}}</div>
                </div>
                <div class="flexrow gap-min">
                    <input type="number"
                           name="system.attributes.sanity.value"
                           id="system.attributes.sanity.value"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.sanity.value}}" />
                    /
                    <input type="number"
                           name="system.attributes.sanity.max"
                           id="system.attributes.sanity.max"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.sanity.max}}" />
                    <div>{{localize "KN.Character.Attributes.sanity"}}</div>
                </div>
                <div class="flexrow gap-small">
                    <div class="flex2 left-label rollable flexrow gap-min"
                         data-action="rollHitLocation">
                        {{localize "KN.Rolls.rollHitLocationCharacter"}}<i class="fas fa-dice"></i>
                    </div>
                    <div class="flex"></div>
                </div>
                <div class="flexrow gap-small">
                    <div>{{localize "KN.Character.Attributes.damageModifier"}}</div>
                    <input type="number"
                           data-dtype="Number"
                           name="system.attributes.damageModifier"
                           id="system.attributes.damageModifier"
                           class="flex0"
                           step="1"
                           value="{{document.system.attributes.damageModifier}}" />
                </div>
                <div class="flexrow gap-small">
                    <div>{{localize "KN.Character.Attributes.exhaustion"}}</div>
                    <input type="number"
                           data-dtype="Number"
                           name="system.attributes.exhaustion"
                           id="system.attributes.exhaustion"
                           class="flex0"
                           min="0"
                           step="1"
                           value="{{document.system.attributes.exhaustion}}" />
                </div>
                <div class="flexrow gap-small">
                    <div>{{localize "KN.Character.Resistances.title"}}</div>
                    <div class="resistances-list">
                        <div class="flexrow">
                            <div class="flexrow gap-min rollable"
                                 data-action="rollResistance"
                                 data-key="endurance">
                                {{localize "KN.Character.Resistances.endurance"}}<i class="fas fa-dice" data-key="endurance"></i>
                            </div>
                            <input type="number"
                                   name="system.resistances.endurance"
                                   id="system.resistances.endurance"
                                   class="flex0"
                                   min="0"
                                   step="1"
                                   value="{{document.system.resistances.endurance}}" />
                        </div>
                        <div class="flexrow">
                            <div class="flexrow gap-min rollable"
                                 data-action="rollResistance"
                                 data-key="resolve">
                                {{localize "KN.Character.Resistances.resolve"}}<i class="fas fa-dice" data-key="resolve"></i>
                            </div>
                            <input type="number"
                                   name="system.resistances.resolve"
                                   id="system.resistances.resolve"
                                   class="flex0"
                                   min="0"
                                   step="1"
                                   value="{{document.system.resistances.resolve}}" />
                        </div>
                        <div class="flexrow">
                            <div class="flexrow gap-min rollable"
                                 data-action="rollResistance"
                                 data-key="spellward">
                                {{localize "KN.Character.Resistances.spellward"}}<i class="fas fa-dice" data-key="spellward"></i>
                            </div>
                            <input type="number"
                                   name="system.resistances.spellward"
                                   id="system.resistances.spellward"
                                   class="flex0"
                                   min="0"
                                   step="1"
                                   value="{{document.system.resistances.spellward}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex2 flexcol gap">
                <div>
                    <div class="section-title">{{localize "KN.Character.Skills.title"}}</div>
                    <div class="flexcol skill-table">
                        {{#each skillRows as |skills key| }}
                            <div class="flexrow skill-row gap-small">
                                <div class="flexrow gap-min">
                                    <input type="checkbox"
                                           name="system.skills.{{skills.left.id}}.markForImprovement"
                                           data-tooltip="KN.Character.Skills.markForImprovement"
                                           class="flex0"
                                           {{checked skills.left.markForImprovement}} />
                                    <input type="number"
                                           name="system.skills.{{skills.left.id}}.value"
                                           id="system.skills.{{skills.left.id}}.value"
                                           data-tooltip="KN.Character.Skills.tooltip.skillValue"
                                           class="flex0"
                                           min="0"
                                           step="1"
                                           value="{{skills.left.value}}" />
                                    <input type="number"
                                           name="system.skills.{{skills.left.id}}.temporaryModifier"
                                           id="system.skills.{{skills.left.id}}.temporaryModifier"
                                           data-tooltip="KN.Character.Skills.tooltip.temporaryModifier"
                                           class="flex0"
                                           step="1"
                                           value="{{skills.left.temporaryModifier}}" />
                                    <label class="rollable"
                                           data-action="rollSkill"
                                           data-key="{{skills.left.id}}"
                                           for="system.skills.{{skills.left.id}}.value">
                                        {{localize (concat "KN.Character.Skills." skills.left.id)}} {{#unless (eq skills.left.defaultValue 0)}}({{skills.left.defaultValue}}){{/unless}} <i class="fas fa-dice" data-key="{{skills.left.id}}"></i>
                                    </label>
                                </div>
                                <div class="flexrow gap-min">
                                    <input type="checkbox"
                                           name="system.skills.{{skills.right.id}}.markForImprovement"
                                           data-tooltip="KN.Character.Skills.markForImprovement"
                                           class="flex0"
                                           {{checked skills.right.markForImprovement}} />
                                    <input type="number"
                                           name="system.skills.{{skills.right.id}}.value"
                                           id="system.skills.{{skills.right.id}}.value"
                                           data-tooltip="KN.Character.Skills.tooltip.skillValue"
                                           class="flex0"
                                           min="0"
                                           step="1"
                                           value="{{skills.right.value}}" />
                                    <input type="number"
                                           name="system.skills.{{skills.right.id}}.temporaryModifier"
                                           id="system.skills.{{skills.right.id}}.temporaryModifier"
                                           data-tooltip="KN.Character.Skills.tooltip.temporaryModifier"
                                           class="flex0"
                                           step="1"
                                           value="{{skills.right.temporaryModifier}}" />
                                    {{#if skills.right.custom }}
                                        <input type="text"
                                               name="system.skills.{{skills.right.id}}.name"
                                               class="flex1"
                                               value="{{document.system.skills.custom1.name}}" />
                                        <label class="flex0 rollable"
                                               data-action="rollSkill"
                                               data-key="{{skills.right.id}}"
                                               for="system.skills.{{skills.right.id}}.value">
                                            <i class="fas fa-dice" data-key="{{skills.right.id}}"></i>
                                        </label>
                                    {{else}}
                                        <label class="rollable"
                                               data-action="rollSkill"
                                               data-key="{{skills.right.id}}"
                                               for="system.skills.{{skills.right.id}}.value">
                                            {{localize (concat "KN.Character.Skills." skills.right.id)}} {{#unless (eq skills.right.defaultValue 0)}}({{skills.right.defaultValue}}){{/unless}} <i class="fas fa-dice" data-key="{{skills.right.id}}"></i>
                                        </label>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <div class="flexrow">
                    <div>
                        <div>{{localize "KN.Character.lightsource"}}: {{document.system.lightSource}}</div>
                        -1 / {{localize "KN.Character.lightsourceRoom"}}
                    </div>
                    <div class="flex0 lightsource">
                        <div class="delete-lightsource">
                            <i data-action="deleteLightSource"
                               data-tooltip="KN.Character.deleteLightSource"
                               class="fas fa-trash rollable flex0"></i>
                        </div>
                        <input class="flex0"
                               type="range"
                               min="0"
                               max="20"
                               name="system.lightSource"
                               id="system.lightSource"
                               data-tooltip="{{document.system.lightSource}}"
                               value="{{document.system.lightSource}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="flexcol">
            <div class="section-title">{{localize "KN.Character.Weapons.title"}}</div>
            <div class="flexcol weapons-list">
                {{#if equipment.mainHand }}
                    {{> "systems/ker-nethalas/templates/character/weapon-row.hbs" weapon=equipment.mainHand }}
                {{/if}}
                {{#if equipment.offHand }}
                    {{> "systems/ker-nethalas/templates/character/weapon-row.hbs" weapon=equipment.offHand }}
                {{/if}}
            </div>
        </div>
        <div class="flexcol">
            <div class="section-title">{{localize "KN.Character.Masteries.title"}}</div>
            <div class="flexrow align-normal masteries gap-small">
                <div class="flexcol gap-min">
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery1.name">{{localize "KN.Character.Masteries.Mastery"}}</label>
                        <input type="text"
                               name="system.masteries.mastery1.name"
                               id="system.masteries.mastery1.name"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.name}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery1.passive">{{localize "KN.Character.Masteries.Passive"}}</label>
                        <input type="text"
                               name="system.masteries.mastery1.passive"
                               id="system.masteries.mastery1.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery1.tier1.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 1
                        </label>
                        <input type="text"
                               name="system.masteries.mastery1.tier1.passive"
                               id="system.masteries.mastery1.tier1.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.tier1.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery1.tier2.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 2
                        </label>
                        <input type="text"
                               name="system.masteries.mastery1.tier2.passive"
                               id="system.masteries.mastery1.tier2.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.tier2.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery1.tier3.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 3
                        </label>
                        <input type="text"
                               name="system.masteries.mastery1.tier3.passive"
                               id="system.masteries.mastery1.tier3.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.tier3.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery1.tier4.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 4
                        </label>
                        <input type="text"
                               name="system.masteries.mastery1.tier4.passive"
                               id="system.masteries.mastery1.tier4.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.tier4.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery1.tier5.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 5
                        </label>
                        <input type="text"
                               name="system.masteries.mastery1.tier5.passive"
                               id="system.masteries.mastery1.tier5.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery1.tier5.passive}}" />
                    </div>
                </div>
                <div class="flexcol gap-min">
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery2.name">{{localize "KN.Character.Masteries.Mastery"}}</label>
                        <input type="text"
                               name="system.masteries.mastery2.name"
                               id="system.masteries.mastery2.name"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.name}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery2.passive">{{localize "KN.Character.Masteries.Passive"}}</label>
                        <input type="text"
                               name="system.masteries.mastery2.passive"
                               id="system.masteries.mastery2.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery2.tier1.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 1
                        </label>
                        <input type="text"
                               name="system.masteries.mastery2.tier1.passive"
                               id="system.masteries.mastery2.tier1.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.tier1.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery2.tier2.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 2
                        </label>
                        <input type="text"
                               name="system.masteries.mastery2.tier2.passive"
                               id="system.masteries.mastery2.tier2.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.tier2.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery2.tier3.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 3
                        </label>
                        <input type="text"
                               name="system.masteries.mastery2.tier3.passive"
                               id="system.masteries.mastery2.tier3.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.tier3.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery2.tier4.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 4
                        </label>
                        <input type="text"
                               name="system.masteries.mastery2.tier4.passive"
                               id="system.masteries.mastery2.tier4.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.tier4.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery2.tier5.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 5
                        </label>
                        <input type="text"
                               name="system.masteries.mastery2.tier5.passive"
                               id="system.masteries.mastery2.tier5.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery2.tier5.passive}}" />
                    </div>
                </div>
                <div class="flexcol gap-min">
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery3.name">{{localize "KN.Character.Masteries.Mastery"}}</label>
                        <input type="text"
                               name="system.masteries.mastery3.name"
                               id="system.masteries.mastery3.name"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.name}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0" for="system.masteries.mastery3.passive">{{localize "KN.Character.Masteries.Passive"}}</label>
                        <input type="text"
                               name="system.masteries.mastery3.passive"
                               id="system.masteries.mastery3.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery3.tier1.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 1
                        </label>
                        <input type="text"
                               name="system.masteries.mastery3.tier1.passive"
                               id="system.masteries.mastery3.tier1.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.tier1.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery3.tier2.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 2
                        </label>
                        <input type="text"
                               name="system.masteries.mastery3.tier2.passive"
                               id="system.masteries.mastery3.tier2.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.tier2.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery3.tier3.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 3
                        </label>
                        <input type="text"
                               name="system.masteries.mastery3.tier3.passive"
                               id="system.masteries.mastery3.tier3.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.tier3.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery3.tier4.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 4
                        </label>
                        <input type="text"
                               name="system.masteries.mastery3.tier4.passive"
                               id="system.masteries.mastery3.tier4.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.tier4.passive}}" />
                    </div>
                    <div class="flexrow gap-small">
                        <label class="flex0 tier-label"
                               for="system.masteries.mastery3.tier5.passive">
                            {{localize "KN.Character.Masteries.Tier"}} 5
                        </label>
                        <input type="text"
                               name="system.masteries.mastery3.tier5.passive"
                               id="system.masteries.mastery3.tier5.passive"
                               class="flex1"
                               value="{{document.system.masteries.mastery3.tier5.passive}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
